USE [master]
GO
/****** Object:  Database [Practice_database]    Script Date: 22-01-2026 15:47:34 ******/
CREATE DATABASE [Practice_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practice_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Practice_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practice_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Practice_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practice_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practice_database]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (1, N'ram', N'abc', N'a', 1, CAST(N'2022-07-19' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (2, N'prem', N'ds', N'b', 1, CAST(N'2023-07-19' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (3, N'raju', N'zig', N'b', 1, CAST(N'2021-07-19' AS Date))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[Inserting]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inserting]	 
@id int,
@name varchar(100),
@city varchar(50),
@segment varchar(20),
@active int

AS
BEGIN
	Insert into Customers
	values(@id,@name,@city,@segment,@active,CONVERT(DATETIME, '2020-07-20 00:00:00', 102))
END
GO
/****** Object:  StoredProcedure [dbo].[Mypractice1]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mypractice1]

@City varchar(50) , @Name varchar(100)
                            --parametrer passing

as 
begin

select * from dbo.Customers where city=@City and FullName=@Name 

end
GO
/****** Object:  StoredProcedure [dbo].[Mypractice2]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mypractice2]
	-- Add the parameters for the stored procedure here
	@name varchar(100)='Gopi Suresh',
	@city varchar(50)
AS
BEGIN
	select * from Customers where FullName=@name or City=@city
END

GO
/****** Object:  StoredProcedure [dbo].[updating]    Script Date: 22-01-2026 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[updating]	 
@id int,
@name varchar(100)


AS
BEGIN
	update Customers
	set FullName=@name
	where CustomerId=@id
END
GO
USE [master]
GO
